body {
  font-family: Arial, sans-serif;
  background-color: #8cff8c;
  margin: 0;
  padding: 0;
}

header {
    background-color: #004d26;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    min-height: 70px;
    max-height: 50px;
}
header h1 {
    margin: 0;
    color: white;
}
.logo img {
    height: 200px;
}

.home-btn {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 8px;
}

.search-bar {
  text-align: center;
  margin: 20px;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.lista-livros {
  width: 80%;
  margin: 0 auto;
}

.livro {
  background: white;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.livro h3 {
  margin: 0;
  cursor: pointer;
}

.feedback-container {
  margin-top: 10px;
  display: none;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.feedback {
  background: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.filter-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.filter-bar select {
  padding: 5px;
  border-radius: 5px;
}
